#after_submit {
    visibility: hidden;
}

#quiz {
    visibility: hidden;
    
}

h1,
p {
    color: white;
    text-align: center;
}


.container {
    text-align: center;
}

p {
    font-weight: bold;
    margin-top: 50px;
    font-size: 32px;
    /* background: yellow;
    color: black; */

}

body {
    background-image: url("https://thehungryjpeg.com/img/products/665fba97309d51840b0760e91230e4505f3a5cfc.jpg");
}

#timer {
    color: white;
    /* font-weight: bold; */
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 20px;
}

.jumbotron {
    background: purple;
}

label.radio-inline {
    color: plum;
    margin: 0 10px;
}

.donefont {
    font-size: 60px;
    margin: 0px 0px;
    position: relative;
    top: 32%;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    /* background: yellow;
    color: black; */
    /* color: black; */
}